/*The Most Important Shit In Here*/

.item-PXvHYJ {
  color: #b9bbbe !important;
}

/*Better Colors For Buttons*/

.colorDanger-2qLCe1.focused-3afm-j {
    background-color: #d52b27;
  }
  
  .colorBrand-ROmMP1:hover {
    background-color: #435ad0;
  }
  
  /*It's The Outline For The GC Members**/
  
  div.scroller-2FKFPG .clickable-1JJAn8:hover .layout-2DM8Md {
    border: 1px solid rgba(120, 157, 191, 1);
    border-radius: 9px;
  }
  
  .clickable-1JJAn8:hover .activity-2Gy-9S {
    color: rgba(120, 157, 191, .7);
  }
  
  div.scroller-2FKFPG .clickable-1JJAn8:hover .layout-2DM8Md {
    color: rgba(120, 157, 191, .7);
  }
  
  /*It's The Outline For The Friends DM*/
  
  #private-channels .clickable-1JJAn8:hover .layout-2DM8Md {
    border: 2px dotted rgba(120, 157, 191, 1);
    border-radius: 9px;
  }
  
  #private-channels .clickable-1JJAn8:hover .name-uJV0GL {
    color: #789dbf;
  }
  
  .clickable-1JJAn8:hover .subtext-1RtU34 {
    color: rgba(120, 157, 191, .7);
  }

  .item-3HknzM[style*="background-color: rgb(67, 181, 129); color: rgb(255, 255, 255);"]:hover {
    background-color: rgb(67, 181, 129) !important;
    color: rgb(255, 255, 255) !important;
    border: 2px dotted blueviolet !important;
  }

  .item-3HknzM[style*="background-color: rgb(67, 181, 129); color: rgb(255, 255, 255);"] {
    color: white !important;
  }

  .item-3HknzM[style="background-color: rgba(67, 181, 129, 0.2); color: rgb(67, 181, 129);"] {
    background-color: rgb(67, 181, 129) !important;
    color: rgb(255, 255, 255) !important;
    border: 2px solid blueviolet !important;
  }

  .item-3HknzM[style="background-color: rgba(67, 181, 129, 0.2); color: rgb(67, 181, 129);"]:hover {
    background-color: rgb(67, 181, 129) !important;
    color: white !important;
  }

  .lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
    color: #fff;
    background-color: #43b581;
  }

  .lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    color: #fff;
    background-color: #43b581;
    border: 2px dotted blueviolet;
  }

  .lookFilled-1Gx00P.colorBrand-3pXr91:disabled:hover {
    border: none !important;
  }

  /*It's The Outline Server Channel Hover*/
  
  .content-3at_AU:hover {
    border: 2px dotted rgba(120, 157, 191, 1);
    border-radius: 9px;
  }
  
  /*It's the Outline*/
  
  .selected-aXhQR6 .layout-2DM8Md {
    background-color: rgba(0,0,0,.9);
    color: #789dbf;
    border: 2px solid #789dbf;
    border-radius: 9px;
  }
  
  /*Colors on the Sidebar*/
  
  .item-2hkk8m {
    border: 2px solid rgba(255,255,255,.3);
    background-color: blueviolet;
  }
  
  /*It's the Date Format*/
  
  .divider-JfaTT5 {
    border: none !important;
  }
  #app-mount .content-1o0f9g {
    color: silver;
    background-color: rgba(255,255,255,.12);
    padding: 4px 7px;
  }
  
  /*This is the Context Menu*/
  
  .contextMenu-HLZMGh {
    background: black;
    box-shadow: none;
    border-radius: 6px;
    border: 2px solid rgba(255,255,255,.3);
  }
  
  /*This Makes The Highlight On The Option Menus*/
  
  .clickable-11uBi-:hover, 
  .selected-BYpGTS {
    background: #789dbf;
  }
  
  /*This Makes The Notifications Pop*/
  
  .numberBadge-2s8kKX {
    background-color: black !important;
    height: 27px;
    width: 27px !important;
    margin-bottom: -1px;
    margin-right: 1px;
    border-radius: 50%;
    border: 2px solid #789dbf
  }
  
  /*This Makes The Tabs Fade*/
  
  .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU,
  .theme-dark .listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh {
     background: linear-gradient(270deg, transparent 30%, rgba(120, 157, 191,1) 100%);
     border: 1px solid #789dbf;
  }
  
  /*This Makes The Tabs Round*/
  
  .content-3at_AU {
    border-radius: 9px;
  }
  
  /*This Makes The Scroll Bar Pop*/
  
  .theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 1);
      border-color: rgba(0, 0, 0, 0);
  }
  
  /*This Makes The Emoji Picker Look Better*/
  
  .emojiPicker-3PwZFl .header-8ilj5e {
    border: none;
    box-shadow: none;
  }
  .inspector-sdLnLS {
    background: none;
  }
  .contentWrapper-2txmjs {
    background-color: rgba(0,0,0,0.8);
    border: none;
  }
  
  /*This Makes The Friends' Scroll Bar Black*/
  
  .theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: black;
  }
  
  /*Makes The Tooltips Look Better*/
  
  .theme-dark .tooltip-2QfLtc {
    box-shadow: none;
    color: white;
  }
  .theme-dark .tooltipBlack-PPG47z {
    background-color: #789dbf;
  }
  .icon-KgGMGo,
  .button-1ZiXG9 {
    color: white;
  }
  .toolbar-2bjZV7 {
    background-color: #789dbf;
    border-radius: 0;
    box-shadow: none;
  }
  .wrapper-2aW0bm {
    background-color: #789dbf;
    border-radius: 20px;
  }
  
  /*This Makes The Logout Button Red*/
  
  .side-8zPYf6 .item-PXvHYJ[style*="color: rgb(240, 71, 71); background-color: rgba(240, 71, 71, 0.1);"] {
    background-color: black !important;
    color: #ff0400 !important;
    border: 2px solid blueviolet !important;
  }
  
  /*This Makes The Settings Buttons Rounder*/
  
  .side-8zPYf6 .item-PXvHYJ {
    border-radius: 9px !important;
  }
  #bd-settings-sidebar .ui-tab-bar-item{
   border-radius: 9px !important;
  }
  
  /*This Is For The Settings Exit Button*/
  
  .theme-dark .closeButton-1tv5uR {
    border-color: transparent !important;
  }
  .theme-dark .closeButton-1tv5uR:hover {
    background-color: rgba(0, 0, 0, .5) !important;
  }

  /*This Makes The Notifications Cleaner*/
  
  .unread-3zKkbm {
    display: none;
  }
  .theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA .icon-1_QxNX {
       color: white;
  }

  /*This Makes The Settings Menu Cleaner*/

  .item-PXvHYJ:hover {
    border: 2px dotted #789dbf;
    color: #789dbf !important;
    background-color: rgba(225, 255, 255, 0.15) !important;
  }
  .selected-3s45Ha:hover {
    color: white !important;
    background-color: black !important;
  }
  .selected-3s45Ha {
    border: 2px solid #789dbf !important;
    background-color: black !important;
    color: white !important;
  }
  .item-PXvHYJ[role*= "button"][style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"]:hover {
    color: #789dbf !important;
    background-color: rgba(255, 255, 255, 0.15) !important;
  }
  .item-PXvHYJ[role*= "button"][tabindex*="0"][style*="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
    border: 2px solid #789dbf;
    color: white !important;
    background-color: black !important;
  }
  #bd-settings-sidebar .ui-tab-bar-item:hover {
    background-color: rgba(255, 255, 255, 0.15) !important;
    border: 2px dotted #789dbf !important;
    color: #789dbf !important;
  }
  #bd-settings-sidebar .ui-tab-bar-item.selected {
    border: 2px solid #789dbf !important;
    background-color: black !important;
    color: white !important;
  }

  /*This Changes The Font To Handlee*/

  @import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

  body * {
    font-family: 'Handlee', cursive;
  }